<form action="/verTodo" method='get'>
</form>


<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190621/ourmid/pngtree-black-atmospheric-artificial-intelligence-robot-banner-poster-image_195213.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}
</style>
<body>



<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
  <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
  <a href="#team" onclick="w3_close()" class="w3-bar-item w3-button">TEAM</a>
  <a href="#work" onclick="w3_close()" class="w3-bar-item w3-button">WORK</a>
  <a href="#pricing" onclick="w3_close()" class="w3-bar-item w3-button">PRICING</a>
  <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
</nav>

<!-- Header with full-height image -->
<form action="/verTodo" method='get'>
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-left w3-text-white" style="padding:48px">
  <h1> Hola <%=@nombre_jugador%><h1>
  <h3>Bienvenido al juego de los robots<h3>
    <span class="w3-xxlarge w3-hide-large w3-hide-medium">Start something that matters</span>

    <h3>Porfavor ingresa el tamanio de la cancha<h3>
    <input type="integer" name="ancho" id="ancho">
    <input type="integer" name="alto" id="alto">

    <h3>Porfavor ingresa la posicion inicial del auto (eje x y eje y) <h3>
    <input type="integer" name="ejeX" id="ejeX">
    <input type="integer" name="ejeY" id="ejeY">

    <h3> Porfavor ingresa el punto cardinal inicial del auto<h3>
    <input type="text" name="punto_cardinal" id="punto_cardinal"><br>

    <h3>instrucciones</h3>
    <input type="text" name="instrucciones" id="instrucciones">


    <input type="submit" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off" value='enviar'>

    <form action="/principal">
           <input class="btn btn-primary" type="submit" value="Nuevo Auto">
     </form>
  </div>
</header>
</form>

</body>
</html>
